- var title = "HTML5 Demo App"
doctype
html
  head
    meta(charset="utf-8")
    != SocketStream
    title= title
  body
    p This is a dummy page


    ul
      li: a(href="/discuss") See your page discussions.
      li: a(href="/support") Get Help

    p TODO drop cache when static changes

    p TODO variables shared, include --

    p sdfsdfsjdf
