extends /layouts/master.jade

block title
    | HTML5 Demo App

block content
    p This is a dummy page

    ul
      li: a(href="/discuss") See your page discussions.
      li: a(href="/support") Get Help

    p TODO drop cache when static changes

    p TODO variables shared, include --

    p sdfsdfsjdf
