body {
	position:absolute;
	top:0; bottom:0;
	left:0; right:0;
	overflow: hidden;
}
#cloud\/bar {
	position:fixed;
	left:0; right:0;
	top:0; height: $fixed-bar-height;
	padding: 5px 10px;
	z-index:100;
}

#bigspace {
	width:1000%;
	height:1000%;
}

#cloud\/plans {
	@import plans;
}

#cloud\/login {
	@import login;
}

#cloud\/features {
	@import features;
}

